<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rymcu.forest.lucene.mapper.UserDicMapper">

    <select id="getAllDic" resultType="java.lang.String">
        select dic
        from forest_lucene_user_dic
    </select>

    <select id="getAll" resultType="com.rymcu.forest.lucene.model.UserDic">
        select *
        from forest_lucene_user_dic
    </select>

    <insert id="addDic">
        insert into forest_lucene_user_dic(dic) value (#{dic})
    </insert>

    <delete id="deleteDic">
        delete
        from forest_lucene_user_dic
        where id = (#{id})
    </delete>

    <update id="updateDic">
        update forest_lucene_user_dic
        set dic=#{dic}
        where id = (#{id})
    </update>
</mapper>
