<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.vertical.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.vertical.entity.Article">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="idArticle"/>
        <result column="article_title" property="articleTitle"></result>
        <result column="article_thumbnail_url" property="articleThumbnailUrl"></result>
        <result column="article_author_id" property="articleAuthorId"></result>
        <result column="article_type" property="articleType"></result>
        <result column="article_tags" property="articleTags"></result>
        <result column="article_view_count" property="articleViewCount"></result>
        <result column="article_preview_content" property="articlePreviewContent"></result>
        <result column="comment_count" property="articleCommentCount"></result>
        <result column="article_permalink" property="articlePermalink"></result>
        <result column="article_link" property="articleLink"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="updated_time" property="updatedTime"></result>
    </resultMap>
    <resultMap id="DTOResultMap" type="com.rymcu.vertical.dto.ArticleDTO">
        <result column="id" property="idArticle"></result>
        <result column="article_title" property="articleTitle"></result>
        <result column="article_thumbnail_url" property="articleThumbnailUrl"></result>
        <result column="article_author_id" property="articleAuthorId"></result>
        <result column="nickname" property="articleAuthorName"></result>
        <result column="avatar_url" property="articleAuthorAvatarUrl"></result>
        <result column="article_type" property="articleType"></result>
        <result column="article_tags" property="articleTags"></result>
        <result column="article_view_count" property="articleViewCount"></result>
        <result column="article_preview_content" property="articlePreviewContent"></result>
        <result column="article_content" property="articleContent"></result>
        <result column="comment_count" property="articleCommentCount"></result>
        <result column="time_ago" property="timeAgo"></result>
        <result column="article_permalink" property="articlePermalink"></result>
        <result column="article_link" property="articleLink"></result>
        <result column="article_status" property="articleStatus"></result>
        <result column="updated_time" property="updatedTime"></result>
    </resultMap>
    <resultMap id="AuthorResultMap" type="com.rymcu.vertical.dto.Author">
        <result column="id" property="idUser"/>
        <result column="nickname" property="userNickname"/>
        <result column="avatar_url" property="userAvatarURL"/>
    </resultMap>
    <resultMap id="ArticleContentResultMap" type="com.rymcu.vertical.entity.ArticleContent">
        <result column="id_article" property="idArticle"/>
        <result column="article_content" property="articleContent"/>
        <result column="article_content_html" property="articleContentHtml"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>
    <resultMap id="ArticleTagDTOResultMap" type="com.rymcu.vertical.dto.ArticleTagDTO">
        <id column="id" property="idArticleTag"/>
        <result column="id_tag" property="idTag"></result>
        <result column="id_article" property="idArticle"></result>
        <result column="tag_title" property="tagTitle"></result>
        <result column="tag_icon_path" property="tagIconPath"></result>
        <result column="tag_uri" property="tagUri"></result>
        <result column="tag_description" property="tagDescription"></result>
    </resultMap>
    <insert id="insertArticleContent">
        insert into vertical_article_content (id_article,article_content,article_content_html,created_time,updated_time)
        values (#{idArticle},#{articleContent},#{articleContentHtml},sysdate(),sysdate())
    </insert>
    <update id="updateArticleContent">
        update vertical_article_content set article_content = #{articleContent},article_content_html = #{articleContentHtml},updated_time = sysdate() where id_article = #{idArticle}
    </update>
    <update id="updateArticleViewCount">
        update vertical_article set article_view_count = #{articleViewCount} where id = #{id}
    </update>
    <delete id="deleteTagArticle">
        delete from vertical_tag_article where id_article = #{id}
    </delete>
    <delete id="deleteUnusedArticleTag">
        delete from vertical_tag_article where id = #{idArticleTag}
    </delete>
    <select id="selectArticles" resultMap="DTOResultMap">
        select art.*,su.nickname,su.avatar_url from vertical_article art left join vertical_user su on art.article_author_id = su.id where article_status = '0' order by updated_time desc
    </select>
    <select id="selectAuthor" resultMap="AuthorResultMap">
        select * from vertical_user where id = #{id}
    </select>
    <select id="selectArticleDTOById" resultMap="DTOResultMap">
        select art.*,su.nickname,su.avatar_url from vertical_article art left join vertical_user su on art.article_author_id = su.id where art.id = #{id}
        <if test="type == 1">
            and art.article_status = 0
        </if>
    </select>
    <select id="selectArticleContent" resultMap="ArticleContentResultMap">
        select article_content,article_content_html from vertical_article_content where id_article = #{idArticle}
    </select>
    <select id="selectArticlesByTopicUri" resultMap="DTOResultMap">
        select art.*,su.nickname,su.avatar_url from vertical_article art left join vertical_user su on art.article_author_id = su.id
        where exists(select * from vertical_tag_article vta where vta.id_article = art.id and exists(select * from vertical_topic_tag vtt
        left join vertical_tag vt on vtt.id_tag = vt.id where vt.id = vta.id_tag and exists(select * from vertical_topic topic
        where topic.id = vtt.id_topic and topic.topic_uri = #{topicName}))) order by updated_time desc
    </select>
    <select id="selectArticlesByTagName" resultMap="DTOResultMap">
        select art.*,su.nickname,su.avatar_url from vertical_article art left join vertical_user su on art.article_author_id = su.id order by updated_time desc
    </select>
    <select id="selectUserArticles" resultMap="DTOResultMap">
        select art.*,su.nickname,su.avatar_url from vertical_article art left join vertical_user su on su.id = #{idUser} and art.article_author_id = su.id where article_author_id = #{idUser} order by updated_time desc
    </select>
    <select id="selectTags" resultMap="ArticleTagDTOResultMap">
        select vta.id, vta.id_tag, vta.id_article, vt.tag_title, vt.tag_icon_path, vt.tag_uri, vt.tag_description from vertical_tag vt left join vertical_tag_article vta on vt.id = vta.id_tag where vta.id_article = #{idArticle}
    </select>
    <select id="selectDrafts" resultMap="DTOResultMap">
        select art.*,su.nickname,su.avatar_url from vertical_article art left join vertical_user su on art.article_author_id = su.id where article_status = '1' and art.article_author_id = #{idUser} order by updated_time desc
    </select>
</mapper>