<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.vertical.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.vertical.entity.Menu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="idMenu"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="NAME" jdbcType="OTHER" property="name"/>
        <result column="SORT" jdbcType="DECIMAL" property="sort"/>
        <result column="HREF" jdbcType="VARCHAR" property="href"/>
        <result column="MENU_TYPE" jdbcType="CHAR" property="menuType"/>
        <result column="PERMISSION" jdbcType="VARCHAR" property="permission"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
    </resultMap>

    <sql id="select">
        ID,
        PARENT_ID                parentId,
        (select NAME
        from SYS_MENU
        where ID = #{parentId}) parentName,
        NAME,
        SORT,
        HREF,
        MENU_TYPE                  menuType,
        PERMISSION,
        REMARKS,
        STATUS
    </sql>

    <sql id="selectOne">
        ID,
        PARENT_ID                parentId,
        (select NAME
        from SYS_MENU
        where ID = m.PARENT_ID) parentName,
        NAME,
        SORT,
        HREF,
        MENU_TYPE                  menuType,
        PERMISSION,
        REMARKS,
        STATUS
    </sql>

    <delete id="deleteRoleMenu">
        delete SYS_ROLE_MENU
        where MENU_ID = #{menuId}
    </delete>
    <update id="deleteMenu">
        update SYS_MENU set STATUS = '2' where ID = #{id}
    </update>

    <select id="selectMenuByRole" resultType="com.rymcu.vertical.entity.Menu">
        select *
        from SYS_MENU
        where STATUS = '0' and ID in (select MENU_ID
                                     from SYS_ROLE_MENU
                                     where ROLE_ID = #{role.id})  order by SORT
    </select>

    <select id="findByParentId" resultType="com.rymcu.vertical.dto.MenuDTO">
        select
            <include refid="select"/>
        from SYS_MENU
        where PARENT_ID = #{parentId} and STATUS != '2'  order by SORT
    </select>

    <select id="findMenuDTOById" resultType="com.rymcu.vertical.dto.MenuDTO">
        select
            <include refid="selectOne"/>
        from SYS_MENU m
        where ID = #{id} order by SORT
    </select>

    <select id="findByParentIdAndUserId" resultType="com.rymcu.vertical.dto.MenuDTO">
        select
            <include refid="selectOne"/>
        from SYS_MENU m where PARENT_ID = #{parentId} and MENU_TYPE = '0' and STATUS = '0'
            and ID in (select MENU_ID from SYS_ROLE_MENU where ROLE_ID in (SELECT ROLE_ID from SYS_USER_ROLE where USER_ID = #{userId}))
        order by SORT
    </select>

</mapper>