<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rymcu.vertical.mapper.PortfolioMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.vertical.entity.Portfolio">
        <id column="id" property="idPortfolio"></id>
        <result column="head_img_url" property="headImgUrl"></result>
        <result column="name" property="name"></result>
        <result column="portfolio_author_id" property="portfolioAuthorId"></result>
        <result column="description" property="description"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="updated_time" property="updatedTime"></result>
    </resultMap>
</mapper>